# Ignore node_modules (dependencies should be installed inside the container)
node_modules

# Ignore logs
logs
*.log

# Ignore build files
dist
build

# Ignore Docker and Git files
.dockerignore
Dockerfile
.git
.gitignore

# Ignore system files
npm-debug.log*
